<html>
    <head>
        <title>Contact Card</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Contact Card</a></h1>
        </div>

        <div>
            <p>published: 17.09.2018, 16:14</p>
            <h2><a href="">My first post</a></h2>
            <p>If you notice this notice you will notice that this notice is not worth noticable.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Bitty bought butter, But the butter was bitter so bitty added some more butter to make the bitter butter better.</p>
        </div>
    </body>
</html>
