{% extends 'contact/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.First_Name }}
            </div>
        {% endif %}
{% if user.is_authenticated %}
<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
{% endif %}
        <h1>{{ post.Last_Name }}</h1>
        <p>{{ post.Phone_Number|linebreaksbr }}</p>
    </div>
{% endblock %}
